{% extends 'layout.html' %}

{% block auth %}

	<div id="auth-form" class="ui middle aligned center aligned grid">
		<div class="overlay">
			<div>
				<div class="content">
					<img src="{{ url_for('static', filename='Chillax.png') }}" class="ui medium image">
				</div>
				<form class="ui large form" method="POST" action="{{ handler_url }}">
					{{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->

					<div class="ui stacked segment">

						<div class="field">{{ form.username.label }} {{ form.username }}
							{% if form.username.errors or username_error_message is not none %}
								{% if username_error_message is not none %}
									<div class="ui error message">{{ username_error_message }}</div>
								{% endif %}
								{% for error in form.username.errors %}
									<div class="ui error message">{{ error }}</div>
								{% endfor %}
								</div>
							{% endif %}
					</div>
					<div class="field">{{ form.password.label }} {{ form.password }}
						{% if form.password.errors or password_error_message is not none %}
							<div class="ui error message">
								{% if password_error_message is not none %}
									<div>{{ password_error_message }}</div>
								{% endif %}
								{% for error in form.password.errors %}
									<div>{{ error }}</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div>{{ form.submit }}</div>
			</div>
			</form>

			<div class="ui message">New to us? <a href="{{ url_for('authentication_bp.register') }}">Sign Up</a></div>
		</div>
		</div>
	</div>

	<style type="text/css">
		body {
			background-color: #DADADA;
		}

		body > .grid {
			height: 100%;
		}

		#submit {
			width: 100%;
			background-color: rgba(0, 0, 0, .87);
			color: white;
			padding: 20px;
			border-radius: 5px;
		}

		#submit:hover {
			background-color: teal;
			color: white;
			cursor: pointer;
		}

		#auth-form {
			height: 100vh;
			width: 100vw;
			position: relative;
			background-size: cover;
			background-position: 50% 50%;
			background-image: url({{ url_for('static', filename="godfather.jpg") }});
		}

		.overlay {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.70);
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.image {
			margin-top: -100px;
		}

		.column {
			max-width: 450px;
		}
	</style>

{% endblock %}